<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leanh.activity">
    <!--You need the wake lock so the phone can be activated-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--You need the permission to set the alarm-->
    <uses-permission android:name="your.package.alarm.permission.SET_ALARM" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".AlarmMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAlarmActivity">

        </activity>


        <receiver
            android:name="com.example.leanh.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name="com.example.leanh.service.AlarmService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>