<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leanh.activity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".AlarmMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddAlarmActivity">

        </activity>


        <receiver
            android:name="com.example.leanh.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!--<action android:name = "com.example.leanh.util.Constant.ADD_INTENT" />-->
                <!--<action android:name = "com.example.leanh.util.Constant.DELETE_INTENT" />-->
                <!--<action android:name = "com.example.leanh.util.Constant.EDIT_INTENT" />-->
                <action android:name="com.example.leanh.util.Constant.ON_INTENT" />
                <action android:name="com.example.leanh.util.Constant.OFF_INTENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.leanh.service.AlarmService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>